#morespecific {
	background-color: red;
	border: 1px solid black;
}

.specific {
	background-color: gray;
	border: none !important;
}

p {
	background-color: blue;
	color: white;
	padding: 5px;
}

@media screen and (min-width: 1000px) {
	body {
		background-color: lightgreen;
	}
}
