#mainContent {
	padding: 5px;
	width: 500px;
	height: 1000px;
	border: 1px solid black;

}

[id^=examples] {
	width: 500px;
	height: 100px;
	border: 1px solid red;
	margin-bottom: 20px;
}

#examples-float #buttons {
	float: right;
}

#examples-flex #buttons {
	display: flex;
    justify-content: flex-end;
}

button {
	margin: 10px;
}